@import url(https://flashui.netlify.app/main.css);
.mgT-20 {
  margin-top: 20px;
}
.mgT-40 {
  margin-top: 40px;
}
.mgT-32 {
  margin-top: 32px;
}
.mgT-8 {
  margin-top: 8px;
}
.mgT-16 {
  margin-top: 16px;
}
.mgT-4 {
  margin-top: 4px;
}
.product-page-main-heading {
  display: flex;
  align-items: center;
  gap: 10px;
}
